/* Ecritures */
.titre {
    text-align: center;
}

.gras {
    font-weight: bold;
}

/* Zone de jeu */
.zone_2_jeu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em 2em 1em 2em;
}

/* Légende */
.legende {
    flex: 1;
    border: 1px solid black;
    padding: 0.5em;
    margin-left: 1em;
    width: 250px;
}

.legende p {
    text-align: center;
}

.legende_cellule {
    display: flex;
    margin-left: 1em;
    align-items: center;
}

.legende_cellule p {
    margin-left: 1em;
    text-align: start;
}

.case_legende {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

/* Séparateur (pour le moment, ensuite il y aura des fonctionnalités) */
.sep_jeu {
    flex: 1;
}

/* Plateau de jeu */
.plateau_2_jeu {
    flex: 1;
    margin-left: 1em;
}

.bordure_2_jeu {
    border: 1px solid black;
    padding: 0.25em;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* Tableau de jeu */
.grille_vie {
    width: 100%;
    height:100%;
}

.grille_vie,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.case {
    text-align: center;
    vertical-align: middle;
}

.cellule_vivante {
    background-color: lightgreen;
}